/* paleta de cor
#B3DAF2

#C4EAF2

#0396A6

#74B6C4

#FFAA41
*/

/* body{
  
} */

body {
  background-color: #C4EAF2;
}

.corrodape {
  background-color: #444;
}

.acord {
  background-color: #B3DAF2;
}

.acord:hover {
  background-color: #b3daf2d5;
}

#Linha {
  text-decoration: none;
  color: #313131;
}

#ponto {
  text-decoration: none;
  color: #313131;
}

#Horarios {
  text-decoration: none;
  color: #313131;
}

#localatual {
  text-decoration: none;
  color: #0b3150;
}

#opcoes {
  display: none;
}

.colorazul {
  background-color: #0396A6;
}

.corOFF {
  background-color: #C4EAF2;
}

.btnCarrou {
  background-color: rgba(116, 110, 110, 0.5);
  width: max-content;
  height: auto;
}

.btnPerson {
  text-decoration: none;
}

.btnPerson:hover {
  color: black;
}

.sub-titulo {
  width: fit-content;
  /* centralizar caixa */
  margin: 0 auto;
  /*  */
}

.slide-left {
  -webkit-animation: slide-left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  animation: slide-left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-27 14:24:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}


.popup {
  position: fixed;
  bottom: 20px;
  right: -90px;
  width: 250px;
  padding: 10px;
  background-color: #FFAA41;
  border: 4px #fff solid;
  box-shadow: 3px 3px 3px #444;
}

.fechar {
  position: absolute;
  right: -10px;
  top: -20px;
  background-color: #900;
  color: #fff;
  padding: 9px;
  width: 30px;
  height: 33px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
}


.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

